.disciplina {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr auto;

    h1 {
        color: brown;
    }
}